body {
    background: teal; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  
}
.fooditem h1 {
    font-size: 20px;
    margin: 0 0 8px 0;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
    box-shadow: none;
    background: none;
    padding: 0;
    margin: 0;
   
}
.header{
    width: 100%;
    background: orangered;
    color:rgb(242, 250, 250);
    text-align: center;
    padding: 30px;

}
.fooditem{
    width: 200px;
    background: greenyellow;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(8, 8, 8, 0.1);
    padding: 15px;
    margin: 10px;
}
.footer {
    width: 100%;
    background: #ec0808e1;
    color: white;
    text-align: center;
    padding: 15px;
}
button {
    background: #208bac;
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}
button:hover {
    background: #6c2bc0;
}